@import url("https://fonts.googleapis.com/css2?family=Fleur+De+Leah&display=swap");

/* Change the color of links on hover */
.topnav a:hover {
	background-color: #ddd;
	color: black;
}

/* Add a color to the active/current link */
.topnav a.active {
	background-color: #04aa6d;
	color: white;
}

.App {
	text-align: center;
}

.App-logo {
	height: 40vmin;
	pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
	.App-logo {
		animation: App-logo-spin infinite 20s linear;
	}
}

.App-header {
	background-color: #282c34;
	min-height: 100vh;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	font-size: calc(10px + 2vmin);
	color: white;
}

.App-link {
	color: #61dafb;
}

@keyframes App-logo-spin {
	from {
		transform: rotate(0deg);
	}
	to {
		transform: rotate(360deg);
	}
}

.nav-bar {
	background-color: #250c00;
	padding: 0.5rem;
	display: block;
	padding-left: 4%;
}

.nav a {
	color: white;
}

.nav a:hover {
	background-color: #b56f50;
	color: white;
}

.btn.btn-primary {
	background-color: #b56f50;
	color: #633019;
	border: solid #b56f50;
	width: 100%;
}

.btn.btn-primary:hover,
.btn.btn-primary::marker {
	background-color: #c6927a;
	color: #633019;
	border: solid #c6927a;
}

.img {
	height: 35em;
	align-self: center;
}

.single {
	align-items: center;
}

.col-md-4 {
	display: flex;
	padding: 2em;
}

.card-style{
	padding: 5%;
}

.card-body {
	height: 10em;
	background-color: #633019;
	color: #b56f50;
	width: 100%;
}

.single.card {
	background-color: #c6927a;
}

.footer {
	align-content: center;
	background-color: #250c00;
	color: white;
	height: 3em;
}

.allbooks {
	background-color: #c6927a;
}

.welcome {
	font-family: "Fleur De Leah", cursive;
	font-size: 96px;
	color: #250c00;
	text-align: center;
}

.home {
	background-color: #c6927a;
}

.carousel {
	display: block;
	margin: auto;
	height: 50em;
	width: 80%;
	margin-top: 0em;
	position: fixed;
}

.card-img {
	height: 20em;
	display: block;
	max-width: 15em;
	margin-left: auto;
	margin-right: auto;
	color: #c6927a;
}

.moreInfo {
	height: 5em;
}

.button {
	background-color: #633019;
	width: 100%;
}

.card-body-2 {
	height: 120%;
}

.singlebook {
	background-color: #c6927a;
}
